  
<div class="container">
    <div class="row">
        <div class="movie_top_menu">
            <h3 class="movie-title mt-5">Ruby/Rails 動画教材</h2>
            <input type="movie"class='form-control' placeholder="教材を探す">
        </div>
    </div>
    <div class="row">
      <%= render @movies %>
    </div>
</div>
