<main>
    <div class = "first">
        <div class = "container-fluid ml-5">        
            <div class = "row">
                <h2 class = "font-weight-bold pt-5">進化し続ける教材</h1>
            </div>
            <div class = "row">
                <h4 class = "font-weight-bold">コンテンツ随時追加</h4>
            </div>
            <div class = "row">
                <%= link_to texts_path do %>
                <button type="button" class="btn btn-primary mt-3" >教材一覧を見る</button>
                <% end %>
            </div>
            <div class = "row">
                <img  class = "owner_icon img-responsive" src="https://d5izmuz0mcjzz.cloudfront.net/kamizatosan_chara.png" >
            </div>
        </div>
    </div>

    <div class = "second">
        <div class = "container-fluid">
            <div class = "row">
                <ul class = "text-light pt-5 font-weight-bold ml-5">
                    <li>Ruby/Rails</li>
                    <li>PHP</li>
                    <li>AWS</li>
                    <li>HTML/CSS/JS/Vue/Angular</li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class = "third mt-5">
        <div class = "container my-5 ">        
            <div class = "row">
                <h2 class = "font-weight-bold pt-5 third-title">やんばるCODE教材とは？</h1>
            </div>
        </div>
        <div class="container container-m">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">コスパ最強</h5>
                        <p class="card-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">進化</h5>
                        <p class="card-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">即改善</h5>
                        <p class="card-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class = "forth mt-5 pb-5">
        <div class = "container my-5 ">        
            <div class = "row">
                <h2 class = "font-weight-bold pt-5 third-title">教材一覧</h1>
            </div>
        </div>

        <div class="container container-m text-center">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Ruby/Rails</h5>
                        <p class="card-text">ベンチャーで多く採用されている技術</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">PHP/Laravel</h5>
                        <p class="card-text">ベンチャーで多く採用されている技術</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">AWS</h5>
                        <p class="card-text">インフラ構築で多く採用されている技術</p>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">HTML/CSS</h5>
                        <p class="card-text">Webエンジニアなら学習必須の言語</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">JavaScript</h5>
                        <p class="card-text">Webエンジニアなら学習必須の言語</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Vue/Angular</h5>
                        <span class="border-bottom"></span>
                        <p class="card-text">フロントエンドフレームワーク</p>
                    </div>
                </div>
        </div>

    </div>

    <div class = "fifth mt-5">
        <div class = "container my-5 ">        
            <div class = "row">
                <h2 class = "font-weight-bold pt-5 third-title">教材の特徴</h1>
            </div>
        </div>
        <div class="container container-m">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">読みやすい</h5>
                        <p class="card-text">お洒落で可愛くデザイン飽きない工夫をしています</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">即改善</h5>
                        <p class="card-text">教材はすぐに編集が可能な為要望があればすぐ改善します</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">作りながら学ぶ</h5>
                        <p class="card-text">基礎が延々と続くような眠くなる教材ではありません</p>
                    </div>
                </div>
            </div>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">進捗管理</h5>
                        <p class="card-text">ご自身の進み具合をグラフで確認することができます</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">ビジネスも学べる</h5>
                        <p class="card-text">プログラミングだけでなくマーケティングも学べます</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-Tq9SYJkvFx8/UpGG0HReLzI/AAAAAAAAbAQ/pGIQlVpB5Zw/s800/sora_aozora.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">動画とテキスト</h5>
                        <p class="card-text">教材にはテキストだけで無く動画で学べるものもあります</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
