/*
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

/* 全体 */

.base-container {
  @extend .container-fluid;
  max-width: var(--breakpoint-lg);
  padding: 30px 15px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

/* max-width */

.mw-md {
  max-width: 720px;
}

.mw-lg {
  max-width: 960px;
}

.mw-xl {
  max-width: 1200px;
}
