<div class="container">
    <div class="row">
        <div class="col-4 text-center offset-4">
            <h2 class="text-title mt-5">Ruby/Rails テキスト教材</h2>
            <input type="text"class='form-control' placeholder="教材を探す">
        </div>
    </div>


    <% @texts.each do |text| %>
        <div class="card-deck">
            <div class="card my-4">
                <img class="card-img-top" src="https://d5izmuz0mcjzz.cloudfront.net/texts/no_image.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><%= text.title %></p>
                    <p class="card-text"><%= text.genre %></p>
                </div>
            </div>
        </div>
    <% end %>

</div>



