<div class="container">
    <div class="row">
        <div class="text_top_menu">
            <h3 class="text-title mt-5">Ruby/Rails テキスト教材</h2>
            <input type="text"class='form-control' placeholder="教材を探す">
        </div>
    </div>
    <div class="row">
      <%= render @texts %>
    </div>
</div>