<!DOCTYPE html>
<html>
  <head>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="uFqTA+V9JX2lVQWpezleiG70X5WB2RsdNbOg7ncBX1Gy6neEljbw+TBobvsuDiSjhoX/kid6SbZrzB2O+AKDpA==" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>やんばるエキスパート教材 | Ruby/Railsテキスト教材</title>
    <meta name="description" content="やんばるエキスパートのRuby/Railsテキスト教材です。">
    <meta property="og:site_name" content="やんばるエキスパート教材">
    <meta property="og:title" content="やんばるエキスパート教材 | Ruby/Railsテキスト教材">
    <meta property="og:description" content="やんばるエキスパートのRuby/Railsテキスト教材です。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.yanbaru-code.com/texts">
    <meta property="og:image" content="https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_banner.jpg">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yoshito410kam">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="stylesheet" media="all" href="/assets/application-b57a3e5ed9a74db012e7907c86bb74eb4b9b055cb292f6117e5e9cb5c8b9473e.css" data-turbolinks-track="reload" />
    <script src="/assets/application-a26f585aa66f4a5c0293cb383fdcf5f8b148233134c31f3e719fe22a9e52a300.js" data-turbolinks-track="reload"></script>
  </head>
  <body>
    <header class="fixed-top base-bg-color">
      <nav class="navbar navbar-expand-lg mw-lg navbar-dark header-nav">
        <a class="yanbaru-logo" href="/"><img width="240" src="https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_logo.png" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ruby
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/texts">Ruby/Railsテキスト教材</a>
                <a class="dropdown-item" href="/movies">Ruby/Rails動画教材</a>
                <a class="dropdown-item" href="/texts?genre=aws">AWSテキスト教材</a>
                <a class="dropdown-item" href="/questions">よくある質問集</a>
                <a class="dropdown-item" href="/challenges">チャレンジ問題集</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PHP
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/texts?genre=php">PHPテキスト教材</a>
                <a class="dropdown-item" href="/movies?genre=php">PHP動画教材</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                フロント
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/texts?genre=html">HTML&amp;CSS</a>
                <a class="dropdown-item" href="/texts?genre=js">JavaScript</a>
                <a class="dropdown-item" href="/texts?genre=ts">TypeScript</a>
                <a class="dropdown-item" href="/texts?genre=angular">Angular</a>
                <a class="dropdown-item" href="/texts?genre=vue">Vue</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                デザイン講座
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/movies?genre=design_tool">デザインツールの使い方</a>
                <a class="dropdown-item" href="/movies?genre=design_matter">実案件の取り方</a>
                <a class="dropdown-item" href="/movies?genre=design_usage">デザイナーのマーケティング戦略</a>
                <a class="dropdown-item" href="/movies?genre=design_task">デザイン課題</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                勉強会
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/movies?genre=talk">全ての勉強会</a>
                <a class="dropdown-item" href="/movies?genre=live">プログラミング勉強会</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                マネタイズ講座
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/movies?genre=money_marketing">マーケティング講座</a>
                <a class="dropdown-item" href="/movies?genre=money_lstep">Lステップ講座</a>
                <a class="dropdown-item" href="/movies?genre=money_insta">インスタ講座</a>
              </div>
            </li>
            <li class="nav-item active dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                マイページ
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" data-turbolinks="false" href="/memos">メモ</a>
                <a class="dropdown-item" href="/my_pages">進捗管理</a>
                <a class="dropdown-item" href="/users/edit">アカウント編集</a>
                <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
              </div>
            </ul>
          </div>
        </nav>
      </header>
      <div class="base-container mw-xl">
        <div class="texts-wrapper">
          <div class="contents-title text-center">
            <h1>Ruby/Rails テキスト教材</h1>
          </div>
          <form class="mb-3 search-form mx-auto">
            <i class="fa fa-search search-icon" title="Search"></i>
            <input type="text" id="search-text" class='form-control search-text' placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
          </form>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/185">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Macのショートカットキー" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/185/6d99bee3-fe84-4e6b-922f-89bea1e8734d.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-185">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/185/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Macのショートカットキー
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/186">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Linuxコマンド" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/186/1817a936-4229-4253-8730-3af194b5d8f6.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-186">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/186/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Linuxコマンド
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/187">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Slackを使用したいろんなマークダウン記法" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/187/b2333d04-a51e-46b5-b336-bdd6e3c5770e.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-187">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/187/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Slackを使用したいろんなマークダウン記法
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/208">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Ruby on Rails の環境構築（Mac版）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/208/8d2e3c4c-6f68-47a3-adda-a9fd337a65d3.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-208">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/208/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Ruby on Rails の環境構築（Mac版）
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/254">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Ruby on Rails 環境構築手順（Windows版）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/254/c2d5fc8e-fbab-4d40-ad1e-7213d17175a9.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-254">
                      <object><a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="/texts/254/read_texts">読破済みにする</a></object>
                    </div>
                    <p class="card-text text-title">
                      Ruby on Rails 環境構築手順（Windows版）
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/346">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Rails環境構築（Cloud9版）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/346/37c30b2c-210b-4586-888f-46be7dd588e3.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-346">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/346/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Rails環境構築（Cloud9版）
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/263">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="VSCodeの設定（フロント, Rails）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/263/d17dd666-b9c0-4ca1-a7c8-f0a135687ccc.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-263">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/263/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      VSCodeの設定（フロント, Rails）
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/188">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Atomの便利な使い方" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/188/abb25bfe-dcda-4cf5-a0f3-8747e3a5c817.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-188">
                      <object><a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="/texts/188/read_texts">読破済みにする</a></object>
                    </div>
                    <p class="card-text text-title">
                      Atomの便利な使い方
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/189">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="超便利なMarkdownの基本" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/189/e37c0b65-ef47-4f52-b005-610dc4d74cdb.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-189">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/189/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      超便利なMarkdownの基本
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/190">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="現場でやったらあかんこと" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/190/99b18ae2-d586-4b48-b336-2a814e84a8c2.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-190">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/190/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      現場でやったらあかんこと
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/393">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="ターミナルのカスタマイズ" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/393/56de715f-4112-4303-9e5e-3c434c9298ca.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-393">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/393/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      ターミナルのカスタマイズ
                    </p>
                    <p>【Basic】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/191">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Gitとは" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/191/cd2a614b-933e-4340-9daf-5dcb645c43ce.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-191">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/191/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Gitとは
                    </p>
                    <p>【Git】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/317">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Git基本の流れ" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/317/0195d475-1483-403b-9a8f-26cca68652b8.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-317">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/317/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Git基本の流れ
                    </p>
                    <p>【Git】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/192">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Vimの使い方" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/192/f1260114-f69d-4103-9371-f78be5046342.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-192">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/192/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Vimの使い方
                    </p>
                    <p>【Git】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/193">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Gitコマンド一覧・具体的な対処例" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/193/07a58803-ee2d-4346-847e-4412929c901a.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-193">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/193/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Gitコマンド一覧・具体的な対処例
                    </p>
                    <p>【Git】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/194">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="GitとGithubを利用した共同開発" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/194/0416d338-ad72-47f2-8290-5f5cb46cdeee.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-194">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/194/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      GitとGithubを利用した共同開発
                    </p>
                    <p>【Git】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/196">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="入出力を行うためのメソッド一覧" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/196/fe4f50f8-9598-40e1-b644-90d043de39c9.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-196">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/196/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      入出力を行うためのメソッド一覧
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/197">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="変数" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/197/06fd26f8-5a93-461a-8c96-5c36f58e52a0.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-197">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/197/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      変数
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/198">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="条件分岐" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/198/7a3dcd4c-e93b-46bc-aa06-729669d8529e.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-198">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/198/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      条件分岐
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/199">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="メソッド" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/199/6eff4c23-8bc2-4d1e-9e14-4f5414dbfceb.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-199">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/199/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      メソッド
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/200">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="配列" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/200/246bc564-9fa1-4ce0-9d85-47cb2649fb9d.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-200">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/200/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      配列
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/201">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="繰り返し処理" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/201/55aa8c2a-a1e2-46f3-a877-4b22f0507051.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-201">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/201/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      繰り返し処理
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/202">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="ハッシュ" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/202/565a34fb-3cc6-4963-9e33-a8b5fee850b4.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-202">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/202/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      ハッシュ
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/203">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="オブジェクト指向" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/203/1d8b424a-60f6-4c07-a39b-e5b153143ad8.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-203">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/203/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      オブジェクト指向
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/272">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="CSVインポート" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/272/60f76b36-067b-4811-a954-72e6cd3ee864.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-272">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/272/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      CSVインポート
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/276">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="CSVファイルの生成" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/276/2256a66e-8938-4cf4-ad0f-7fdbef7eb616.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-276">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/276/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      CSVファイルの生成
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/204">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RSpec" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/204/bdeb5bfd-5ba8-47d5-a6cb-47c516455d2e.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-204">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/204/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RSpec
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/205">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="YouTube検索を実装するAPI" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/205/daccc2be-d54d-4bd8-b396-bb4ffa0baa9c.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-205">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/205/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      YouTube検索を実装するAPI
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/313">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム（条件分岐）part1" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/313/691cf68f-0865-4557-9d9b-59c78d945034.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-313">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/313/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム（条件分岐）part1
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/314">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム（メソッド）part2" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/314/ec02e2f7-bd21-45c3-a3e9-79c04c4b40c9.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-314">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/314/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム（メソッド）part2
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/315">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム（クラス）part3" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/315/901b125f-b2f0-419e-82e0-3c2578fe32e8.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-315">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/315/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム（クラス）part3
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/394">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム RSpec（Part 1: 環境構築／テスト対象の洗い出し）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/394/ceb0d719-133c-4f35-975d-128566e5f389.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-394">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/394/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム RSpec（Part 1: 環境構築／テスト対象の洗い出し）
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/395">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム RSpec（Part 2: 単体テスト１〜４）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/395/6ca87fd4-519d-430e-bf10-abe9df3a6000.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-395">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/395/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム RSpec（Part 2: 単体テスト１〜４）
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/396">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム RSpec（Part 3: 単体テスト５〜７）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/396/19877693-1675-40b5-b809-95d7f850763c.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-396">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/396/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム RSpec（Part 3: 単体テスト５〜７）
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/397">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="八百屋プログラム RSpec（Part 4: 単体テスト８／総合テスト）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/397/a3503e39-1187-41c5-96b0-0fc29f6135f8.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-397">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/397/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      八百屋プログラム RSpec（Part 4: 単体テスト８／総合テスト）
                    </p>
                    <p>【Ruby】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/207">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Ruby on Rails の基本" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/207/ab238a8c-8428-4bd7-9c74-78ab003994ab.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-207">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/207/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Ruby on Rails の基本
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/209">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Ruby on Rails で Hello World!!" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/209/059be889-44b3-4b82-a808-1b0690cf7b41.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-209">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/209/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Ruby on Rails で Hello World!!
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/210">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="アプリのデプロイ（Heroku）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/210/b9a014fe-0746-48bf-b236-aa8174d94be0.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-210">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/210/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      アプリのデプロイ（Heroku）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/255">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="SQLの基礎" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/255/778f9d98-39c2-492f-af65-6654fa15e5d6.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-255">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/255/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      SQLの基礎
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/211">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="CRUD処理の実装" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/211/f7613df6-e8e8-4347-b353-e73b7a9e6921.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-211">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/211/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      CRUD処理の実装
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/212">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Active Recordの様々なメソッド" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/212/f8dd03f6-ab51-49a0-a2dc-765bdf24327f.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-212">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/212/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Active Recordの様々なメソッド
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/213">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Active Record の様々な削除メソッド" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/213/1a8e4d15-e300-41fa-bf0f-5a4c229cb55b.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-213">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/213/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Active Record の様々な削除メソッド
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/214">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="resources を使ったCRUD処理の実装" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/214/18538d40-cfb5-4859-a340-060803b156ab.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-214">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/214/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      resources を使ったCRUD処理の実装
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/265">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="デバッグツール（binding.pry）の使い方" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/265/718290d3-575c-4951-a903-65961c40fdbb.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-265">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/265/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      デバッグツール（binding.pry）の使い方
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/269">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="メッセージ投稿アプリ（その1・CRUD処理）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/269/d8afa180-9ddd-4710-bb9b-5439ea4da5fd.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-269">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/269/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      メッセージ投稿アプリ（その1・CRUD処理）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/270">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="メッセージ投稿アプリ（その2・エラー処理）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/270/ca7b8aab-2698-42a2-a457-a3813fa14987.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-270">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/270/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      メッセージ投稿アプリ（その2・エラー処理）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/271">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="メッセージ投稿アプリ（その3・Bootstrap）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/271/0bf8162a-db73-49fa-8146-ba20ad723780.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-271">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/271/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      メッセージ投稿アプリ（その3・Bootstrap）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/215">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Rails Best Practice の導入" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/215/58f6805e-c075-4da7-9c21-cdd66709eac4.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-215">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/215/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Rails Best Practice の導入
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/216">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Bootstrap の導入" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/216/4a93cbc5-a899-4780-97f4-d0ce9c0f0079.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-216">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/216/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Bootstrap の導入
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/389">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Tailwind CSSの導入" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/389/715aefd7-e15c-4fa1-9066-6a8a6c64f142.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-389">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/389/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Tailwind CSSの導入
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/217">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="CSVデータインポート機能" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/217/ab2bb866-a5a8-45bb-a411-f9cd6c28b97f.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-217">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/217/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      CSVデータインポート機能
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/218">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Rakeタスク" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/218/e9300e97-255c-467b-85c9-14bbe8ccc921.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-218">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/218/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Rakeタスク
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/219">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="ログイン機能" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/219/9b361eb8-73b8-4209-85f5-e677b7d1ae17.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-219">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/219/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      ログイン機能
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/220">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="管理者画面(ActiveAdmin)" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/220/15477d41-9f2b-403b-971f-797efd8c6354.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-220">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/220/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      管理者画面(ActiveAdmin)
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/351">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="列挙型（enum）とセレクトボックス" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/351/e34a2076-c661-4a02-9e93-125942ed376d.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-351">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/351/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      列挙型（enum）とセレクトボックス
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/349">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="YouTube動画の投稿" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/349/10478366-9e1b-4a3a-b04a-5efc70b0a16e.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-349">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/349/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      YouTube動画の投稿
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/296">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="モデルの関連付け その1（1対多）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/296/5b3dae3b-a0d1-4b89-8f36-5d19731d12ce.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-296">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/296/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      モデルの関連付け その1（1対多）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/297">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="モデルの関連付け その2（多対多）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/297/d429e4d3-55f9-48ba-bbd3-6eba250a1add.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-297">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/297/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      モデルの関連付け その2（多対多）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/392">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="ゲストログイン機能の実装" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/392/af156174-3f6f-4e15-ae2e-82cfb4a25ef1.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-392">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/392/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      ゲストログイン機能の実装
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/221">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="検索機能(Ransack)" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/221/23c6d4b4-de8d-4aaf-908a-796008d159a6.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-221">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/221/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      検索機能(Ransack)
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/222">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="画像投稿機能（CarrierWave）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/222/8262f253-29cb-44b8-a1d8-1afc77e5fc3f.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-222">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/222/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      画像投稿機能（CarrierWave）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/273">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Herokuの画像投稿設定（その1・IAM S3）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/273/61fa8dd9-e171-4382-b74e-aa9310043d0b.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-273">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/273/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Herokuの画像投稿設定（その1・IAM S3）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/274">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Herokuの画像投稿設定（その2・CarrierWave）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/274/8658c1d6-2adc-4b16-aa54-563ea2d6696d.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-274">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/274/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Herokuの画像投稿設定（その2・CarrierWave）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/275">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="Herokuの画像投稿設定（その3・CloudFront）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/275/47a24b81-3671-47af-95ca-57e4521a2d05.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-275">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/275/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      Herokuの画像投稿設定（その3・CloudFront）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/277">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="CSVインポート・エクスポート機能" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/277/22889abb-c442-46a3-929a-4729aa7fd08b.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-277">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/277/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      CSVインポート・エクスポート機能
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/223">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="テストコードの実装（RSpec）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/223/3c075522-3ea7-4325-affd-f2882e0fb755.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-223">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/223/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      テストコードの実装（RSpec）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/224">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RailsアプリへのMarkdownの導入" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/224/52877401-7702-4e16-b3ef-ae6d81b8565a.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-224">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/224/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RailsアプリへのMarkdownの導入
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/334">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="オリジナル管理者画面" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/334/adadfd54-1cbf-4467-b776-16c34a3356fc.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-334">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/334/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      オリジナル管理者画面
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/337">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="お問い合わせフォーム" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/337/8994fe73-7c64-45d2-afac-0e26cb0c3947.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-337">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/337/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      お問い合わせフォーム
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/298">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RSpec（準備）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/298/afaf7a81-f353-40f6-b5cd-b58b03b028f7.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-298">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/298/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RSpec（準備）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/299">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RSpec（factory_bot_railsの基礎）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/299/85fb9ea2-8572-4100-831f-dde0972ff448.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-299">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/299/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RSpec（factory_bot_railsの基礎）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/300">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RSpec（モデルスペック ）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/300/319f54c9-14b9-442b-8912-1d4d71a2f7b2.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-300">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/300/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RSpec（モデルスペック ）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/301">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RSpec（リクエストスペック）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/301/a9912d6f-522a-40ed-a93b-a48bbb9ad136.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-301">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/301/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RSpec（リクエストスペック）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/339">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="RuboCop（静的コード解析ツール）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/339/e70f9402-d49b-40f6-8986-e14c6e4b78cf.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-339">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/339/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      RuboCop（静的コード解析ツール）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/256">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="データをグラフ化してみよう！（Rails 6）" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/256/32dfddf2-65af-4513-a1fc-4b7f28611dfd.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-256">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/256/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      データをグラフ化してみよう！（Rails 6）
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/251">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="ActionCableを使用したチャットアプリ" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/251/9cf82e37-4265-455a-805d-81daa7dcb845.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-251">
                      <object><a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="/texts/251/read_texts">読破済みにする</a></object>
                    </div>
                    <p class="card-text text-title">
                      ActionCableを使用したチャットアプリ
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/253">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="【作ってみよう！】体重管理アプリの実装" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/253/39a868e9-19eb-437b-bbfd-ec0c519da72f.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-253">
                      <object><a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="/texts/253/read_texts">読破済みにする</a></object>
                    </div>
                    <p class="card-text text-title">
                      【作ってみよう！】体重管理アプリの実装
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/386">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="WebAPI とは" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/386/73a9c7da-5978-495b-ad02-7bb8a3318782.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-386">
                      <object><a class="btn btn-primary btn-block" data-remote="true" rel="nofollow" data-method="delete" href="/texts/386/read_texts">読破済みを解除</a></object>
                    </div>
                    <p class="card-text text-title">
                      WebAPI とは
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 text-card-container">
              <div class="card content-card border-dark mb-3">
                <a target="_blank" href="/texts/398">
                  <div class="card-header p-0">
                    <img loading="lazy" alt="（API）CRUD処理" class="img-fluid" src="https://d5izmuz0mcjzz.cloudfront.net/uploads/text/image/398/977183f3-51c3-4790-8fa9-571118a11a51.jpeg" />
                  </div>
                  <div class="card-body text-dark text-card-body">
                    <div id="read-text-398">
                      <object><a class="btn btn-secondary btn-block" data-remote="true" rel="nofollow" data-method="post" href="/texts/398/read_texts">読破済みにする</a></object>
                    </div>
                    <p class="card-text text-title">
                      （API）CRUD処理
                    </p>
                    <p>【Ruby on Rails】</p>
                  </div>
                </a>        </div>
            </div>
          </div>
        </div>
        <section class="advertising_banner">
          <div class="cover text-center">
            <a target="_blank" rel="noopener" href="http://yanbaru-expert.com/">
              <img loading="lazy" src="https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_banner.jpg" />
            </a>  </div>
        </section>
      </div>
      <footer class="base-bg-color">
        <a class="text-white" target="_blank" rel="noopener" href="https://line.me/R/ti/p/%40fyp8311b">LINE</a>
        <a class="text-white" target="_blank" rel="noopener" href="https://twitter.com/yoshito410kam">Twitter</a>
        <a class="text-white" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">YouTube</a>
        <a class="text-white d-none d-md-inline" target="_blank" rel="noopener" href="https://ja-jp.facebook.com/yoshito.kamizato">Facebook</a>
      </footer>
    </body>
  </html>
