  <div class="bg-primary navbar justify-content-center">  
    <a class="text-white px-2" target="_blank" rel="noopener" href="https://line.me/R/ti/p/%40fyp8311b">LINE</a>
    <a class="text-white px-2" target="_blank" rel="noopener" href="https://twitter.com/yoshito410kam">Twitter</a>
    <a class="text-white px-2" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">YouTube</a>
    <a class="text-white px-2 d-none d-md-inline" target="_blank" rel="noopener" href="https://ja-jp.facebook.com/yoshito.kamizato">Facebook</a>
  </div>