<% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="yanbaru-logo" href="/"><img width="240" src="https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_logo.png" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ruby
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts">Ruby/Railsテキスト教材</a>
                    <a class="dropdown-item disabled" href="#">Ruby/Rails動画教材</a>
                    <a class="dropdown-item" href="/texts?genre=aws">AWSテキスト教材</a>
                    <a class="dropdown-item" href="/questions">よくある質問集</a>
                    <a class="dropdown-item" href="/challenges">チャレンジ問題集</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PHP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts?genre=php">PHPテキスト教材</a>
                    <a class="dropdown-item disabled" href="#">PHP動画教材</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    フロント
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts?genre=html">HTML&amp;CSS</a>
                    <a class="dropdown-item" href="/texts?genre=js">JavaScript</a>
                    <a class="dropdown-item" href="/texts?genre=ts">TypeScript</a>
                    <a class="dropdown-item" href="/texts?genre=angular">Angular</a>
                    <a class="dropdown-item" href="/texts?genre=vue">Vue</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    デザイン講座
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">デザインツールの使い方</a>
                    <a class="dropdown-item disabled" href="#">実案件の取り方</a>
                    <a class="dropdown-item disabled" href="#">デザイナーのマーケティング戦略</a>
                    <a class="dropdown-item disabled" href="#">デザイン課題</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    勉強会
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">全ての勉強会</a>
                    <a class="dropdown-item disabled" href="#">プログラミング勉強会</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マネタイズ講座
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">マーケティング講座</a>
                    <a class="dropdown-item disabled" href="#">Lステップ講座</a>
                    <a class="dropdown-item disabled" href="#">インスタ講座</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マイページ
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" data-turbolinks="false" href="/memos">メモ</a>
                    <a class="dropdown-item" href="/my_pages">進捗管理</a>
                    <a class="dropdown-item" href="/users/edit">アカウント編集</a>
                    <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a>
                </div>
                </li>

            </ul>
        </div>
    </nav>
<% else %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <a class="yanbaru-logo" href="/"><img width="240" src="https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_logo.png" /></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ruby
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts">Ruby/Railsテキスト教材</a>
                    <a class="dropdown-item disabled" href="#">Ruby/Rails動画教材</a>
                    <a class="dropdown-item" href="/texts?genre=aws">AWSテキスト教材</a>
                    <a class="dropdown-item" href="/questions">よくある質問集</a>
                    <a class="dropdown-item" href="/challenges">チャレンジ問題集</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    PHP
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts?genre=php">PHPテキスト教材</a>
                    <a class="dropdown-item disabled" href="#">PHP動画教材</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    フロント
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/texts?genre=html">HTML&amp;CSS</a>
                    <a class="dropdown-item" href="/texts?genre=js">JavaScript</a>
                    <a class="dropdown-item" href="/texts?genre=ts">TypeScript</a>
                    <a class="dropdown-item" href="/texts?genre=angular">Angular</a>
                    <a class="dropdown-item" href="/texts?genre=vue">Vue</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    デザイン講座
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">デザインツールの使い方</a>
                    <a class="dropdown-item disabled" href="#">実案件の取り方</a>
                    <a class="dropdown-item disabled" href="#">デザイナーのマーケティング戦略</a>
                    <a class="dropdown-item disabled" href="#">デザイン課題</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    勉強会
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">全ての勉強会</a>
                    <a class="dropdown-item disabled" href="#">プログラミング勉強会</a>
                </div>
                </li>

                <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    マネタイズ講座
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">マーケティング講座</a>
                    <a class="dropdown-item disabled" href="#">Lステップ講座</a>
                    <a class="dropdown-item disabled" href="#">インスタ講座</a>
                </div>
                </li>

                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/users/sign_in">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link active" href="/users/sign_up">新規登録</a>
                </li>

            </ul>
        </div>
    </nav>
<% end %>

